<!DOCTYPE html>
<html>
<head>
  <title>GameNight</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

  <div id="referee-widget" class="text-right">
    <% if current_referee %>
    Welcome, <strong><%= current_referee.fullname %></strong>!
    <%= link_to "Sign out", "signout", id: "sign_out" %>
    <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
    <% end %>
  </div>

  <%= yield %>
</div>

</body>
</html>
